body {
	text-align: left;
	font-family: Poppins;
	color: White;
	background-image: url(imagens/code_4.jpg);
	background-size: cover;
	padding-top: 300px;
}

h1 {
	font-size: 35px;
	margin-bottom: 0;
}

h2 {
	font-size: 35px;
	margin-top: 0;
	margin-bottom: 0;
}

h3 {
	font-size: 35px;
	color: #D7FA50;
	margin-top: 0;
}

.clr.green {
	color: #D7FA50;
}

p {
	font-size: 16px;
	opacity: 0.8;
}


.title1 {
	max-width: 769px;
}

.title1 a {
	text-decoration: none;
	color: white;

}

.title1 a:hover {
	color: #D7FA50;

}

.title2 {
	max-width: 800px;
}

.title3 {
	max-width: 800px;
	margin-bottom: 20px;
}

.title3 a {
	text-decoration: none;
	color: white;
}

.title3 a:hover {
	color: #D7FA50;
}

.botao {
	text-decoration: none;
	color: white;
	background-color: rgb(204,0,0);
	padding: 10px 15px;
	border-radius: 4px;
	font-size: 15px;
	font-weight: bold;
	margin-top: 100px;
	margin-left: 175px;

}

.botao:hover {
	background-color: rgba(204,0,0,0.8);

}

.lista {
	list-style: none;
	padding-top: 300px;
	margin-left: 175px;

}

.lista li {
	display: inline;
}

.lista a {
	color: white;
	text-decoration: none;
	padding: 10px;
	font-size: 30px;

}

.lista a:hover {
	opacity: 0.8;
}

abbr {
	text-decoration: blink;
	cursor: help;

}

abbr:hover {
	color: #D7FA50;
}
